body {
    background-color: #331f3a;
}

p {
    color: #f8f1ff
}

.start {
    color: #f8f1ff;

}

.button {
    color: #f8f1ff;
    background-color: #646076;
    font-size: 20px;
    padding: 3px;
    border: 2px solid;
    border-color: #331f3a;
    float: right;
}

.form {
    background-color: #27152e;
    color: #f8f1ff;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15%;
    text-align: center;
    padding: 3px;
    border: 2px solid;
    border-color: #331f3a;
}

input {
    background-color: #646076;
    padding: 3px;
    border: 2px solid;
    border-color: #331f3a;
}

.playable {
    font-size: 30px;
    color: #f8f1ff;
    background-color: #646076;
    text-align: center;
    margin-left: 35%;
    margin-right: 35.5%;
    padding: 3px;
    border: 2px solid;
    border-color: #331f3a;
}

.characters {
    color: #f8f1ff;
    background-color: #331f3a;
    float: left;
    margin-left: 35%;
    margin-right: 34%;
}

.character {
    width: 30%;
    height: 30%;
    color: #f8f1ff;
    background-color: #adadc4;
    float: left;
    padding: 3px;
    border: 2px solid;
    border-color: #331f3a;
}

h5 {
    color: #9e9e9e;
    float: left;
}

footer {
    background-color: #27152e;
    position: fixed;
    margin-right: 65%;
}
.icons {
    width: 10%;
    height: 10%;
    padding: 4px;
    position: relative;
}
